$body-bg: rgb(59, 57, 57);
$primary: rgb(66, 66, 245);

@import '~bootstrap/scss/bootstrap.scss';

body {
  color: white;
}

#formUsername, #formPassword, #formEmail, #formBirthday {
  color: white;
}

.logout-button {
  margin: 20px;
  width: -webkit-fill-available;
}

.detail-poster {
  width: 100%;
  margin: 10px;

}

.back-button {
  margin: 20px;
  width: 250px;
}

#root {
  padding: 10px;
}

.title, .director, .genres, .summary {
  padding: 10px;
}

.navbar {
  border-radius: 5px;
  margin-bottom: 20px;
}

.modal-header, .form-label {
  color: rgb(59,57,57);
}


